BFF_HTTP_PORT=8080
USER_GRPC_PORT=50051
PRODUCT_GRPC_PORT=50052
ORDER_GRPC_PORT=50053
USER_SERVICE_ADDRESS=localhost:50051
PRODUCT_SERVICE_ADDRESS=localhost:50052
DATABASE_URL=postgres://postgres:postgres@localhost:5432/user_service?sslmode=disable
PRODUCT_DATABASE_URL=postgres://postgres:postgres@localhost:5432/product_service?sslmode=disable
ORDER_DATABASE_URL=postgres://postgres:postgres@localhost:5432/order_service?sslmode=disable
